<div class="card">
  <h3>Burdown Chart</h3>
  <div class="field">
    <label class="label" >Seleccione su tablero</label>
    <p-dropdown class="p-dropdown"  [options]="boards" [(ngModel)]="selectBoard" optionLabel="name"
    [showClear]="true" placeholder="Select Board" (onChange)="OnselectBoard($event)"></p-dropdown>
   <!-- <input *ngIf="show==false" type="text" [(ngModel)]="boardID" pInputText />-->
  </div>
 <!-- <p-button class="button" *ngIf="show==false" label="Submit" [text]="true" [raised]="true" severity="info"
    [loading]="loading" (onClick)="load()"></p-button>-->

    <div class="field">
  <label class="label" *ngIf="show==true">Selecciones su grupo</label>
  <p-dropdown class="p-dropdown" *ngIf="show==true" [options]="groups" [(ngModel)]="selectgroups" optionLabel="title"
    [showClear]="true" placeholder="Select group"></p-dropdown>
  </div>
 <!--<div class="field">
  <label class="label" *ngIf="show==true">Columna ESP</label>
  <p-dropdown class="p-dropdown" *ngIf="showH==true && show==true" [options]="columns" [(ngModel)]="selectESPColums"
    optionLabel="title" [showClear]="true" placeholder="Select column"></p-dropdown>
  <input *ngIf="showA==true && show==true" type="text" [(ngModel)]="ESPID" pInputText />
</div>
<div class="field">
  <label class="label" *ngIf="show==true">Columna AED</label>
  <p-dropdown class="p-dropdown" *ngIf="showH==true && show==true" [options]="columns" [(ngModel)]="selectDateColums"
    optionLabel="title" [showClear]="true" placeholder="Select column"></p-dropdown>
  <input *ngIf="showA==true && show==true" type="text" [(ngModel)]="DateID" pInputText />
</div>-->
<div class="field">
  <label class="label" *ngIf="show==true">Coloque el inicio de su sprint</label>
  <p-calendar *ngIf="show==true" [(ngModel)]="dateInit"></p-calendar>
  <p-button class="button" *ngIf="show==true" label="Generar BDC" [text]="true" [raised]="true" severity="info"
    [loading]="loading" (onClick)="getdata()"></p-button>
    <p-button class="buttonC"*ngIf="show==true" icon="pi pi-arrow-circle-left" [rounded]="true" [text]="true" [raised]="true" severity="info " (onClick)="clear()"></p-button>
</div>
<div class="field">
  <p-card  *ngIf="showF==false" class="cardB">
    <div class="flex justify-content-between gap-5">
        <div class="flex flex-column gap-1">
            <span class="text-secondary text-sm">Porcentaje de avance</span>
            <br>
            <span class="font-bold text-lg">{{this.items.percent}}%</span>
        </div>
        <span class="w-2rem h-2rem border-circle inline-flex justify-content-center align-items-center text-center" [style]="{ 'background-color': 'white', color: '#ffffff' }">
            <i icon="pi-list-check"></i>
        </span>
      </div>
</p-card>
</div>
</div>


<p-chart #chart type="line" [data]="data" [options]="options" />
<p-meterGroup class="p-selectButton" [value]="moscow"></p-meterGroup>
<p-selectButton class="p-selectButton" [options]="stateOptions" [(ngModel)]="option" optionLabel="label"
  optionValue="value" (onChange)="onSelectionChange($event)" />

